/*
body {
  overflow: auto;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 90px 0 50px 0;
}

.title-box {
	margin: 50px 0 10px 0;
}

.title-text {
	font-size: 28px;
	font-weight: 600;
}

h1 {
  color: black;
}

.store-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 30px;
  /* border: 1px solid black; 
}
*/

/* tab body content */

.active {
  padding: 20px;
}

.combo-container {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

img {
  margin-bottom: 10px;
}

.combo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.combo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sort {
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.details {
  margin-top: 5px;
  font-size: 13px;
  color: rgb(200, 200, 200);
}

.price {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.ddd {
  display: flex;
  flex-direction: column;
}
