.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ticketing-container {
  display: flex;
  flex-direction: column;
  margin: 90px 0 50px 0;
}

.title-box {
  margin: 50px 0 10px 0;
}

.title-text {
  font-size: 28px;
  font-weight: 600;
}

.ticketing-wrapper {
  display: flex;
  width: 100%;
  height: 700px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border: 1px solid black;
}

.movie-title {
  width: 20%;
}

.ticketing-box {
  padding: 20px 30px;
  border-right: 1px solid black;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.movie-number {
  margin-right: 50px;
  color: #f36e00;
}

select {
  width: 100px;
  height: 30px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: inherit;
  color: #4a525e;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.item:focus {
  border-radius: 5px;
  background-color: #afafaf;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #40adde;
}

.movie-time {
  width: 40%;
  overflow: auto;
}

.movie-time::-webkit-scrollbar {
  width: 4px;
}

/* 스크롤바 막대 설정*/
.movie-time::-webkit-scrollbar-thumb {
  height: 2%;
  border-radius: 25px;
  background: #8e8e8e;
}

i {
  font-size: 23px;
}

.day {
  margin-right: 300px;
}

.time-item-sub {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.locatin {
  width: 140px;
  display: flex;
  justify-content: space-around;
}

.time-container {
  display: flex;
  margin-bottom: 50px;
}

.time-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 60px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #4a525e;
  font-size: 17px;
  font-weight: 600;
  white-space: pre-line;
  word-break: break-all;
}

.square:focus {
  color: #afafaf;
  border: 1px solid #afafaf;
}

.is-reservation {
  font-size: 15px;
  font-weight: 500;
}

.movie-info {
  padding: 40px 30px;
}

.ticketing-info {
  display: flex;
}

.box:nth-child(3) {
  border: none;
}

img {
  margin-right: 30px;
}

.info-title {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.info-explain {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
}

.is-seat {
  margin: 5px 0 0 5px;
  font-size: 12px;
  font-weight: 600;
  color: black;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 160px;
}

.total {
  margin-right: 10px;
  font-size: 19px;
  font-weight: 700;
}

.total-amount {
  margin-right: 10px;
  color: black;
}

.amount {
  color: #f36e00;
}

.select-seat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #3e3e3e;
  cursor: pointer;
}
